.login {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.login h1 {
  text-align: center;
  animation: fade-only-animation .4s normal 1 forwards ease;
}

.login .inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 30px 0;
  animation: fade-move-up-animation .4s normal 1 forwards ease;
}

.login .link {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.login .link:hover {
  text-decoration: underline;
}

.login .linkWrapper {
  animation: fade-move-up-animation 0.5s normal 1 forwards ease;
}

.login .buttonWrapper {
  animation: fade-move-up-animation 0.6s normal 1 forwards ease;
}

@keyframes fade-move-up-animation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-only-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1440px){
  .register h1{
    font-size: 42px;
  }

  .register .customInput{
    width: 750px;
    font-size: 18px;
    padding: 15px;
  }

  .register .link {
    font-size: 19px;
  }

  .actionButton{
    width: 250px;
    height: 60px;
    font-size: 20px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 560px){
  .login h1{
    font-size: 28px;
  }

  .login .customInput{
    width: 450px;
  }

  .login .link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 425px){
  .login h1{
    font-size: 28px;
  }

  .login .customInput{
    width: 350px;
  }

  .link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 375px){
  .login .customInput{
    width: 325px;
  }

  .link {
    font-size: 13px;
  }
}

@media only screen and (max-width: 320px){
  .login .customInput{
    width: 275px;
  }

  .link {
    font-size: 12px;
  }
}

@media only screen and (max-width: 280px){
  .login .customInput{
    width: 225px;
  }

  .login .link {
    font-size: 11.5px;
  }
}